.footer_wrapper {
    background-color: #202438;
    display: flex;
    flex-direction: row;
    
}

.footer_icons {
    display: flex;
    flex-direction: row;
   
}

.social {
    display: flex;
    color: white;
    margin: 35px;
    padding: 35px;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
}

.footer_text {
    display: flex;
    color: rgb(155, 60, 60);
    margin: 20px;
    padding: 20px;
}