.main-wrapperTwo {
    display: flex;
    background-color: #323752;
    /* height: 35vh; */
}


.underlinetwo {
    max-width: 35%;
    border-bottom: 3px solid white;
}

.mainChild {
    display: flex;
  
}

.text-contnet {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;

}

.learnmore_btn {
    border: 2px white solid;
    background-color: #323752;
    color: white;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
}